@media screen and (max-width: 2000px) {
  .container {
    position: relative;
    width: 100%;
    margin: 0;
  }
  .navbar {
    position: relative;
    width: 100%;
  }
  span {
    font-size: larger;
  }
  .loginForm {
    margin: auto;
    max-width: 400px;
  }
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    width: 400px;
    box-shadow: none;
    height: 25px;
    text-align: center;
  }
  input[type="submit"] {
    width: 100%;
    background-color: white;
    border-color: black;
  }
}
